{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/navfoot.css' %}">
{% endblock %}

<nav class="navbar navbar-expand-lg sticky-top" id="navbar" style="background-color: white;">
    <a class="navbar-brand mr-0" href="/">
        <img class="mr-3 d-inline-block" src="{% static 'images/icon.svg' %}">NCovid
    </a>
    <button class="navbar-toggler custom-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <hr class="mt-4 mb-3">
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto mr-3">
            <li class="nav-item">
                <a class="nav-link" href="/maps">Maps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/simulation">Simulation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tips">Tips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/feedback">Feedback</a>
            </li>
        </ul>
    </div>
</nav>