nav {
    color: #1FAD95;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    min-height: 125px;
}

.navbar-brand {
    margin-left: 2.5rem;
    font-size: 2.5rem;
    color: #1FAD95;
}

.navbar-brand:hover {
    color: #186659;
}

.navbar-brand img {
    display: inline-block;
    padding-bottom: 0.25rem;
    width: 4rem;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link {
    font-size: 1.75rem;
    color: #1FAD95;
}

.nav-link:hover {
    color: #186659;
}

hr {
    background-color: #1FAD95;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    background-color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: #1FAD95;
}

@media screen and (max-width: 991.5px) {
    .navbar {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .navbar-brand img {
        display: inline-block;
        padding-bottom: 0.25rem;
        width: 2.5rem;
    }
    .custom-toggler.navbar-toggler { 
        border-color: #1FAD95; 
    } 
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(31, 173, 149, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

@media screen and (max-width: 450px) {
    .navbar-brand {
        margin-left: 1rem;
    }
}

/* That damn Galaxy Fold */
@media screen and (max-width: 280.5px) {
    .navbar-brand img{
        display: none!important;
    }
    .footer {
        font-size: 0.6rem;
    }
}