* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #62DBC5;
    padding-bottom: 50px;
    overflow-x: hidden;
}
.home-container {
    margin-top: 6rem;
    color: #08204F;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/*
    Home Tagline Styling
*/
#home-tagline {
    font-size: 4.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

#second-tagline {
    font-size: 1.7rem;
    font-weight: 500;
}

/*
    Feature Tagline Styling
*/
.feature-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#feature-tagline {
    color: #1C6559;
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
}

/*
    Card Styling
*/
.feature-list {
    margin-top: 3rem;
}

.feature-item {
    margin: 1rem 0;
}

#card-img {
    height: 8rem;
    width: 15rem;
    text-align: center;
}

.card-text {
    margin-top: 1.5rem;
    color: #1C6559;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.container{
    padding: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
    color: black;
}

.card {
    margin: 2rem auto;
    padding: auto;
    border-radius: 60px;
    border-color: coral;
}
