* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #62DBC5;
    padding-bottom: 50px;
}

.delete-container {
    height: 100vh;
    margin-top: 5rem;
    text-align: center;
    color: #08204F;
    font-family: 'Quicksand', sans-serif;
}

#delete-warning {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}   

#delete-confirmation {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.delete-button {
    text-decoration: none;
    margin-left: 1rem;
    height: 3rem;
    border-radius: 10px;
}

.cancel-button {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-radius: 10px;
}

@media only screen and (max-width: 420px) {
    #delete-confirmation {
        font-size: 1.25rem;
    }
}