* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #62DBC5;
    padding-bottom: 50px;
}

.feedback-container {
    margin-top: 5rem;
}

/*
    First and Second tagline styling
*/
#feedback-tagline, #feedback-secondTagline, #feedback-loginTagline {
    color: #08204F;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#feedback-tagline {
    font-weight: 700;
    letter-spacing: 0.02rem;
    margin-bottom: 2.25rem;
    font-size: 2.75rem;
}

#feedback-secondTagline {
    font-weight: 500;
    font-size: 1.675rem;
}

#feedback-loginTagline {
    padding-top: 2rem;
    font-weight: 600;
}

#goto-section {
    text-align: center;
}

.button-modified {
    font-family: 'Quicksand', sans-serif;
    background-color: #8BEB94;
    color: #FFF;
    border-radius: 12px;
}

/*
    Forms styling
*/
#user-email, #user-feedback {
    text-align: center;
    margin: 2rem auto;
    color: #1FAD95;
    font-weight: 500;
    font-size: 1.15rem;
    font-family: 'Quicksand', sans-serif;
    width: 30rem;
    border-radius: 12px;
}

#user-email {
    height: 2.75rem;
}

#user-feedback {
    height: 15rem;
}

#submit-container {
    text-align: center;
    padding-bottom: 4rem;
}

#submit-button {
    height: 3rem;
    width: 7rem;
    border-radius: 12px;
    color: #FFF;
    background-color: #8BEB94;
}

/*
    Responsive Media Queries
*/
@media only screen and (max-width: 768px) {
    #feedback-tagline {
        font-size: 2.25rem;
    }

    #feedback-secondTagline {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 555px) {
    #feedback-tagline {
        font-size: 2.05rem;
    }

    #feedback-secondTagline {
        font-size: 1.35rem;
    }

    #user-email, #user-feedback {
        width: 25rem;
    }
}

@media only screen and (max-width: 420px) {
    #feedback-tagline {
        font-size: 1.5rem;
    }

    #feedback-secondTagline {
        font-size: 1.05rem;
    }

    #user-email, #user-feedback {
        width: 20rem;
        font-size: .95rem;
    }
}