{% extends './base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'auth/css/login.css' %}">
{% endblock css %}

{% block title %}
<title>Login Page</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="card registration-form">
        <h2 class="card-title form-title">Log your account in!</h2>
        <div class="container">
            {% if messages %}
            <div class="error-container">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <section class="username-section">
                    <label for="username-field">
                        Input your username :
                    </label>
                    <input type="text" id="username-field" class='form-control' name='username'
                        placeholder='input your username here' autocomplete='off' maxlength="100" required>
                </section>
                <br>
                <section class="password-section">
                    <label for="password-field">
                        Input your password :
                    </label>
                    <input type="password" id="password-field" class='form-control' name='password'
                        placeholder='input your password here' autocomplete='off' minlength="8" required>
                </section>
                <br>
                <div id="button-container">
                    <button type="submit" class="btn btn-outline-primary">
                        Login
                    </button>
                    <div id="register-text">
                        <p>Don't have an account? <a id="register-link" href="{% url 'register' %}">Register</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}