{% extends './base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'auth/css/register.css' %}">
{% endblock css %}

{% block title %}
<title>Register Page</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="card registration-form">
        <h2 class="card-title form-title">Register your account here!</h2>
        <div class="container">
            {% if form.errors %}
            <div class="error-container">
                {{ form.errors }}
                <!-- display the form errors if they exist -->
            </div>
            {% elif messages %}
            <div class="success-container">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <section class="username-section">
                    <label for="username-field">
                        Input your username :
                    </label>
                    {{ form.username }}
                </section>
                <br>
                <section class="emailAddress-section">
                    <label for="email-field">
                        Input your email :
                    </label>
                    {{ form.email }}
                </section>
                <br>
                <section class="password-section">
                    <label for="password-field">
                        Input your password :
                    </label>
                    {{ form.password1 }}
                </section>
                <br>
                <section class="passwordValidation-section">
                    <label for="password_validation-field">
                        Input your password validation :
                    </label>
                    {{ form.password2 }}
                </section>
                <br>
                <div id="button-container">
                    <button type="submit" class="btn btn-outline-primary">
                        Register
                    </button>
                    <div id="login-text">
                        <p>Already have an account? <a id="login-link" href="{% url 'login' %}">Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}