{% load static %}

{% include '../header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock css %}

{% block title %}
<title>Feedback - NCovid</title>
{% endblock title %}

<body>
    {% include '../navbar.html' %}
    <div class="container feedback-container">
        <h1 id="feedback-tagline">We want to hear from you!</h1>
        <h3 id='feedback-secondTagline'>What do you think about this website?</h3>
        <p id='feedback-loginTagline'>If you don't mind, please login before give your feedback</p>
        <div id="goto-section">
            <a class="btn button-modified" href="{% url 'login' %}">Login</a>
        </div>
    </div>
    {% include '../footer.html' %}
    {% include '../script.html' %}
</body>