{% load static %}

{% include '../header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/delete-feedback.css' %}">
{% endblock css %}

{% block title %}
<title>Delete Feedback - NCovid</title>
{% endblock title %}

<body>
    {% include '../navbar.html' %}
    <div class="container delete-container">
        <h1 id="delete-warning">WARNING!</h1>
        <p id="delete-confirmation">Are you sure want to delete this feedback?</p>
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'feedbackCollection' %}" class="btn btn-primary cancel-button">
                No, cancel
            </a>
            <button type="submit" class="btn btn-danger delete-button">
                Yes, delete
            </button>
        </form>
    </div>
    {% include '../footer.html' %}
    {% include '../script.html' %}
</body>

</html>