{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="shortcut icon" href="{% static 'images/icon.svg' %}" type="image/x-icon">
    <script src="{% static 'js/preprocessingAjax.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dummy_feedback.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedbackCollection.css' %}">
    <title>Feedback - NCovid</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container feedback-container collection-container">
        <h1 id="feedback-tagline">We want to hear from you!</h1>
        <h3 id='feedback-secondTagline'><span id='think-word'>What do you think about this website?</span></h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.feedback_description }}
            </div>
            <section id="submit-container">
                <button id="submit-button" type="submit" class="btn">
                    SUBMIT
                </button>
            </section>
        </form>
        <div class="container safe-tagline">
            <h3 id='feedback-secondTagline'>The Feedbacks</h3>
            <div class="row">

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    {% include '../footer.html' %}
</body>

</html>