* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #62DBC5;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}

.base-container {
    margin-top: 6rem;
    color: #08204F;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/*
    Feature Tagline Styling
*/
.feature-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.feature-tagline {
    color: #1C6559;
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
}

/*
    Card Styling
*/
.percentage-list {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.percentage-item {
    margin: 1rem 0;
}

.percentage-number {
    margin: 0;
    color: #2C3A38;
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}

.percentage-sign {
    margin: 0;
    color: #2C3A38;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.percentage-detail {
    margin: 0;
    color: #1C6559;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.card-text {
    margin-top: 1.5rem;
    color: #1C6559;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

/* 
    Form styling 
*/
.forms-card {
    margin: 1rem;
    background-color: #c8fff5;
    padding: 1rem;
    padding-right: 3rem;
    border-radius: 1rem;
    text-align: left;
}

.forms-question {
    margin: 0 0 0 1rem;
    color: #2C3A38;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
}

ul {
    list-style-type:none;
}

.forms-choice{
    list-style-type:none;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.forms-answer{
    list-style-type:none;
    margin-top: 0.5rem;
    margin-left: 4rem;
    margin-bottom: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.2rem;
    text-align: left;
}

.forms-simulation-typing-field{
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    width: 15rem;
    font-family: inherit;
    font-size: 2rem;
    border-radius: 1.5rem;
    border-width: 1rem;
    border-color: #2C3A38;
}

.forms-survey-typing-field{
    margin: 2rem 4rem;
    padding: 0.5rem 2rem;
    /* text-align: center; */
    width: 75%;
    font-family: inherit;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.forms-card#forms-card-simulation-container{
    display: block;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 3rem 0;
}

#forms-card-simulation{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.simulation-button{
    background-color: #c8fff5;
    font-weight: 700;
    border: 0.2rem solid #2C3A38;
    color: #2C3A38;
    padding: 0.5rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 2rem;
}

.survey-button{
    background-color: #c8fff5;
    font-weight: 700;
    border: 0.2rem solid #2C3A38;
    color: #2C3A38;
    padding: 0.5rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 2rem;
}

.forms-card#forms-card-survey-button{
    display: block;
    text-align: center;
}

#forms-card-survey-button{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input:focus {
    outline-width: 0;
}

button:focus {
    outline-width: 0;
}

/* 
    Back button for navigation
*/
.back-button{
    background-color: transparent;
    font-weight: 700;
    border: 0.2rem solid #2C3A38;
    color: #2C3A38;
    padding: 0.5rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 2rem;
}

#take-survey-button{
    background-color: #62DBC5;
    margin-bottom: 5rem
}

#back-button-container{
    display: block;
    text-align: center;
}

#back-button{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#show-hide-survey-button{
    background-color: transparent;
}

/* 
    Toggle button for navigation
*/
.show-hide-button{
    background-color: #c8fff5;
    font-weight: 700;
    border: 0.2rem solid #2C3A38;
    color: #2C3A38;
    padding: 0.5rem 4rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 2rem;
    width: 100%;
}