{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/navfoot.css' %}">
{% endblock %}

<nav class="navbar navbar-expand-lg sticky-top" id="navbar" style="background-color: white;">
    <a class="navbar-brand mr-0" href="/">
        <img class="mr-3 d-inline-block" src="{% static 'images/icon.png' %}">NCovid
    </a>
    <button class="navbar-toggler custom-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <hr class="mt-4 mb-3">
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto mr-3">
            <li class="nav-item">
                <a class="nav-link" href="/maps">Maps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/simulation">Simulation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tips">Tips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/feedback">Feedback</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="d-inline-block username">{{ request.user }}</div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 100%;">
                {% if request.user.username == '' %}
                <a class="dropdown-item" href="/login/">Login</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/register/">Register</a>
                {% else %}
                <a class="dropdown-item" href="/logout/">Logout</a>
                {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>