{% load static %}

{% include 'header.html' %}
{% include 'navbar.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/simulation.css' %}">
{% endblock %}

{% block title %}
<title>Simulation - Result</title>
{% endblock title %}

<body>
    
    <div class="container base-container">
        <div class="container feature-container" style="margin-top: 3rem;">
            <h2 class="feature-tagline" style="text-align: center;">SIMULATION RESULT</h2>
            <h3 class="forms-card" style="text-align: center; margin-top: 5rem; padding: 2rem;">
                Out of <span style="background-color: white;">{{ test_count }}</span> taken tests, 
                there would be: <br> <br>
                <span style="font-size: 4rem;">{{ new_case }}</span>
                <br> <br>
                New Cases <br><br>

                <a href="{{ request.META.HTTP_REFERER }}" >
                    <button type="button" class="back-button" method="GET">&lt&lt&lt back</button>
                </a>
            </h3>

        </div>
    </div>
    {% include 'script.html' %}
    {% include 'footer.html' %}
</body>