{% load static %}

{% include 'header.html' %}
{% include 'navbar.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/simulation.css' %}">
{% endblock %}

{% block title %}
<title>Simulation - Survey Score</title>
{% endblock title %}

<body>
    
    <div class="container base-container">
        <div class="container feature-container" style="margin-top: 3rem;">
            <h2 class="feature-tagline" style="text-align: center;">SURVEY SUMMARY</h2>
            <div class="forms-card" style="text-align: center; margin-top: 5rem; padding: 2rem;">
                <h3>Thank you for filling out our survey!</h3><br>
                <h4>According to your recently taken survey, you scored:</h4> <br>

                <div class="container">
                    <div class="row percentage-list" style="margin-top: 0rem;">
                        <div class="col percentage-item">
                            <div class="card-body">
                                <p class="percentage-number">{{ mask_percentage }}<span class="percentage-sign">/100</span></p>
                                <p class="percentage-detail">of Wearing<br>Masks Properly <br> in Public Places</p>
                            </div>
                        </div>
    
                        <div class="col percentage-item">
                            <div class="card-body">
                                <p class="percentage-number">{{ pd_percentage }}<span class="percentage-sign">/100</span></p>
                                <p class="percentage-detail">of Being Aware of<br>and Practicing<br>Physical Distancing</p>
                            </div>
                        </div>
    
                        <div class="col percentage-item">
                            <div class="card-body">
                                <p class="percentage-number">{{ sanitize_percentage }}<span class="percentage-sign">/100</span></p>
                                <p class="percentage-detail">of Washing or<br> Sanitizing Hands and<br>Disinfecting Regularly</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- START KODINGAN DEMO -->
                <h3>Your Response:</h3><br>

                {% for question, answer in mask_response %}
                    <div class="forms-question answer" style="text-align: left;">{{ question }}</div>
                    <div class="forms-answer" style="text-align: left; margin: 0.5em 0 1.5em 2em;">{{ answer|linebreaksbr }}</div>
                {% endfor %}

                {% for question, answer in pd_response %}
                    <div class="forms-question answer" style="text-align: left;">{{ question }}</div>
                    <div class="forms-answer" style="text-align: left; margin: 0.5em 0 1.5em 2em;">{{ answer }}</div>
                {% endfor %}

                {% for question, answer in sanitize_response %}
                    <div class="forms-question answer" style="text-align: left;">{{ question }}</div>
                    <div class="forms-answer" style="text-align: left; margin: 0.5em 0 1.5em 2em;">{{ answer|linebreaksbr }}</div>
                {% endfor %}
                
                <!-- END KODINGAN DEMO -->


                <h3 style="margin-top: 3rem;">Keep your protocol obedience spirit up! :D</h3>
                <br> <br>
                <a href="{% url 'simulation:simulation' %}" >
                    <button type="button" class="back-button" method="GET">&lt&lt&lt back</button>
                </a>

            </div>
        </div>
    </div>
    {% include 'script.html' %}
    {% include 'footer.html' %}
</body>