{% load static %}

{% include 'header.html' %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/simulation.css' %}">
{% endblock %}

{% block title %}
<title>Simulation</title>
{% endblock title %}

<body>
    {% include 'navbar.html' %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block content %}

    <div class="container base-container">            
        <h2 class="feature-tagline" style="text-align: center;">ACTIVE CASE SIMULATOR</h2>
            <div class="forms-card" id="forms-card-simulation-container">
                <h3 class="forms-question" style="text-align: center;">Simulate expected daily test count to get predicted new daily active cases.</h3><br>
                <div id="forms-card-simulation">
                    <input type="number" class="forms-survey-typing-field" id="simulate-test" placeholder="Insert test count..." name="keyword">
                    <div id="test-result">

                    </div>
                </div>
            </div> 
            
            <hr style="border-width: 0.2rem;"/>

        <h2 class="feature-tagline" style="text-align: center; margin-top: 2rem;">PROTOCOL OBEDIENCE SURVEY</h2>
        <div class="card-text" style="text-align: center;">
            Out of people who have taken the survey, ...
            <!-- Summing up your protocol obedience regarding COVID-19 pandemic -->
        </div>
        <div class="container">
            <div class="row percentage-list">
                <div class="col percentage-item">
                    <div class="card-body">
                        <p class="percentage-number">{{ mask_percentage }}<span class="percentage-sign">%</span></p>
                        <p class="percentage-detail">Wear Masks Properly <br> in Public Places</p>
                    </div>
                </div>

                <div class="col percentage-item">
                    <div class="card-body">
                        <p class="percentage-number">{{ pd_percentage }}<span class="percentage-sign">%</span></p>
                        <p class="percentage-detail">Aware of and Practice <br> Physical Distancing</p>
                    </div>
                </div>

                <div class="col percentage-item">
                    <div class="card-body">
                        <p class="percentage-number">{{ sanitize_percentage }}<span class="percentage-sign">%</span></p>
                        <p class="percentage-detail">Wash or Sanitize Hands <br> and Disinfect Regularly</p>
                    </div>
                </div>
            </div>

            {% if not user.is_authenticated %}
            <h4> (You need to login before taking the survey) </h4> <br>
            <a href="{% url 'simulation:simulation-survey' %}" >
                <button type="button" class="back-button" method="GET" id="take-survey-button">Login and Take Survey</button>
            </a>

            {% else %}
            <a href="{% url 'simulation:simulation-survey' %}" >
                <button type="button" class="back-button" method="GET" id="take-survey-button">Take Survey</button>
            </a>
            
            {% endif %}

        </div>

        <!-- <div class="forms-card">
            <form action="/simulation/score/" method="POST">
                {% csrf_token %}
                {% for field1 in mask_form %}
                    <label class="forms-question" style="text-align: left;" for="{{ field1.auto_id }}">{{ field1.label }}</label>
                    {{ field1 }}
                {% endfor %}
        
                {% for field2 in pd_form %}
                    <label class="forms-question" style="text-align: left;" for="{{ field2.auto_id }}">{{ field2.label }}</label>
                    {{ field2 }}
                {% endfor %}
        
                {% for field3 in sanitize_form %}
                    <label class="forms-question" style="text-align: left;" for="{{ field3.auto_id }}">{{ field3.label }}</label>
                    {{ field3 }}
                {% endfor %}
                
                <div class="forms-card" id="forms-card-survey-button">
                    <div id="forms-card-survey-button">
                        <button type="submit" name="survey_submission" class="survey-button">Submit</button>
                    </div>
                </div>
            </form>
        </div> -->


    </div>

    <script src="{% static 'js/simul-index.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
    {% endblock content %}
    {% include 'footer.html' %}
</body>
