{% load static %}

{% include 'header.html' %}
{% block css %}
<link rel="stylesheet" href="{% static 'fitur/tips.css' %}">
{% endblock %}

{% block title %}
<title>Tips - NCovid</title>
{% endblock title %}

<head>
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    {% block content %}

            <div class="home-container">
                <h2 id= "feature-tagline" style="text-align: center;">GUIDELINE TO SHARE YOUR TIPS</h2>
                    <br>
                    <br>
                    <div id="accordion">
                      <!-- <div class="row justify-content-center">
                          <div class="col-8"> -->
                          <h3 position="0" class="p-2 m-0 accordion-tab text-light bg-dark">
                              Purpose
                              <span class="mx-1 float-right down" id="down">
                                  ↓
                              </span>
                              <span class="mx-1 float-right up" id="up">
                                  ↑
                              </span>
                          </h3>
                          <p position="0" class="p-1 m-0 bg-success text-light bg-info">
                            This form aims to contain tips on maintaining your health<br>
                            One tip from you is very useful for all visitors to our website<br>
                          </p>
                          <h3 position="1" class="p-2 m-0 accordion-tab text-light bg-dark">
                            Hint
                            <span class="mx-1 float-right down" id="down">
                                ↓
                            </span>
                            <span class="mx-1 float-right up" id="up">
                                ↑
                            </span>
                          </h3>
                          <p position="1" class="p-1 m-0 bg-success text-light bg-info">
                              You can fill out this health tips form by entering the title of the tips <br>
                              Then you have to fill in the details of the tips that you enter in the description section<br>
                              Tips yang anda masukkan maksimal 500 kata<br>
                              Description masing-masing tips maksimal 1000 kata<br>
                          </p>
                          <h3 position="2" class="p-2 m-0 accordion-tab text-light bg-dark">
                            Provisions
                            <span class="mx-1 float-right down" id="down">
                                ↓
                            </span>
                            <span class="mx-1 float-right up" id="up">
                                ↑
                            </span>
                          </h3>
                          <p position="2" class="p-1 m-0 bg-success text-light bg-info">
                            Tips that you enter contains maximum of 500 words<br>
                            Description of each tip contains maximum of 1000 words<br>
                          </p>
                    </div>
                    <br>
                    <br>
                    <a type="button" class="btn btn-light" href="{% url 'fitur:tips_list' %}"><b>Back</b></a>
            </div>
            <br>
            <br>


    {% endblock content %}
    {% include 'footer.html' %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'javascript/js/acordion.js' %}"></script>
