{% load static %}
{% load crispy_forms_tags %}
{% include 'header.html' %}
{% block css %}
<link rel="stylesheet" href="{% static 'fitur/tips.css' %}">
{% endblock %}

{% block title %}
<title>Tips - NCovid</title>
{% endblock title %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    
    <div class="home-container">
      <h2 id= "feature-tagline" style="text-align: center;">TIPS TO PROTECT YOURSELF FROM CORONAVIRUS</h2>
        <!-- <div class="row justify-content-center">
          <div class="col-8"> -->
            <h2>Enter Your Tips Advice Here</h2>
            <hr class="mt-0 mb-4">
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <br>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
              <a type="button" class="btn btn-light" href="{% url 'fitur:tips_list' %}"><b>Back</b></a>
            </form>
          
            <br>
   

    

  </div>
    <br>
    <br>
    {% include 'script.html' %}
    {% endblock content %}
    {% include 'footer.html' %}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'javascript/js/script.js' %}"></script>
   
