{% load static %}
{% load crispy_forms_tags %}
{% include 'header.html' %}
{% block css %}
<link rel="stylesheet" href="{% static 'fitur/tips.css' %}">

{% endblock css %}

{% block title %}
<title>Tips - NCovid</title>
{% endblock title %}


<body>
    {% include 'navbar.html' %}
    {% block content %}
    
   
    <div class="home-container">
      <h2 id= "feature-tagline" style="text-align: center;">TIPS TO PROTECT YOURSELF FROM CORONAVIRUS</h2>
      <h3 id= "feature-tagline" style="text-align: center;">Welcome {{ namanya }} ! here some tips advice for you</h3>
        <div class="row justify-content-center">
          <div class="col-8">
                <div id='tipslist'>
                {% for i in listp %}
                <div class="card" style="border-radius: 20px;">
                  <div class="card-header">
                  <b>{{ i.tips }}</b>
                  </div>
                
                  <div class="card-body" style="margin: auto;">
                      <div class="card-text" style="margin: auto; text-align: center;"><b>{{ i.description }}</b></div>

                  </div>
                </div>
                {% endfor %}
              </div>
            <br>
            {% if request.user.is_authenticated %}
           
            <div class="home-container">
              <h2 id= "feature-tagline" style="text-align: center;">TIPS TO PROTECT YOURSELF FROM CORONAVIRUS</h2>
                <!-- <div class="row justify-content-center">
                  <div class="col-8"> -->
                    <h2>Enter Your Tips Advice Here</h2>
                    <hr class="mt-0 mb-4">
                    <form id="form" method="POST">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <br>
                      <br>
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <a type="button" class="btn btn-light" href="{% url 'fitur:tips_list' %}"><b>Back</b></a>
                      <a type="button" class="btn btn-dark" href="{% url 'fitur:guide' %}"><b>Read Guideline</b></a>
                    </form>
                    <br>
                    <br>
                    <br>
            
            {% else %}
            <a class="btn btn-dark" style="margin-bottom: 40px;" href="{% url 'login' %}"><b>Add Tips</b></a>
            {% endif %}
        </div>
      </div>
    </div>

    

    
    {% endblock content %}
    {% include 'footer.html' %}
</body>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
<script src="{% static 'javascript/js/script.js' %}"></script>

