{% load static %}

{% include 'header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/maps.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Maps - NCovid</title>
{% endblock title %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    <div class="container home-container">
        <h2 id="feature-tagline">COVID DISTRIBUTION MAP IN INDONESIA</h2>
        <div class="map">
            <script src="//my.visme.co/visme-embed.js"></script>
            <div class="visme_d" data-url="dmdoegov-ncovid" data-w="1920" data-h="1080" data-domain="my"></div>
        </div>
        <br><br><br>
        <h2 class="text-left">SELF REPORTS<div class="btn">
            <a href="/maps/report/"><i class="material-icons add">add_box</i></a>
        </div><a href="/maps/self-reports/" class="float-right showAll">Show all</a></h2>
        {% if data.first != None %}
        <table class="table table-striped table-light table-responsive-lg mb-4" id="reports">
            <thead style="background-color: #1FAD95; color: white;">
                <th scope="col">No</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Status</th>
                <th scope="col">Province</th>
                <th scope="col">City</th>
                <th scope="col">Date Added</th>
            </thead>
        </table>
        <a class="showMore" id="load-btn">Show more</a>
        {% else %}
        <div class="col-8 text-black text-left pl-0">
          <h4>There are no data yet...😷</h4>
        </div>
        {% endif %}
        <br><br>
    </div>
    {% include 'script.html' %}
    <script>
        $(document).ready(function(){

            const reports = $('#reports');
            const loadBtn = $('#load-btn');
            let visible = 10;
            let count = 1;

            function getData(){
                $.ajax({
                type: 'GET',
                url: `/maps/get-data/${visible}/10/`,

                success: function(response){
                    // console.log(response.data)
                    $.each(response.data, function(i, item) {
                        if (item.gender == 'F') {
                            var icon = `<img src="{% static 'images/female.png' %}" class="g-icon">`
                        } else {
                            var icon = `<img src="{% static 'images/male.png' %}" class="g-icon">`
                        }

                        if (item.status == 'Positive') {
                            var color = `#dc3545;`
                        } else if (item.status == 'Recovered') {
                            var color = `#28a745;`
                        } else {
                            var color = `#ffc107;`
                        }
                        reports.append(
                            `<tr>
                                <td class="align-middle">${count}</td>
                                <td class="align-middle">${item.age}</td>
                                <td class="align-middle">${icon}</td>
                                <td class="align-middle">
                                    <span class="status" style="color: white; background-color: ${color}">
                                        ${item.status}
                                    </span>
                                </td>
                                <td class="align-middle">${item.province}</td>
                                <td class="align-middle">${item.city}</td>
                                <td class="date align-middle">${item.dt} WIB</td>
                            </tr>`
                        )
                        count++;
                    })
                    if (response.limit) {
                        loadBtn.text('No more data to show');
                        loadBtn.addClass('disabled');
                    }
                }
            })}

            getData();

            loadBtn.click(function(){
                visible += 10;
                getData();
            })
        })

    </script>
    {% endblock content %}
    {% include 'footer.html' %}
</body>